:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
